.homepage button{
    background-color: black;
    padding: 8px 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;

}

.homepage button:hover{
    background-color: red;
   
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}